version: '3.8'
services:
  db:
    image: mongo:latest
    ports:
      - "27018:27017"
    command: mongod --noauth
    volumes:
      - mongo_data:/data/db

  clubs:
    build: ./subgraphs/clubs
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - MONGO_URL=mongodb://db:27017/iiit_clubs

  events:
    build: ./subgraphs/events
    ports:
      - "8001:8001"
    environment:
      - MONGO_URL=mongodb://db:27017/iiit_clubs

  gateway:
    build: ./gateway
    ports:
      - "4000:4000"
    depends_on:
      - clubs
      - events
    environment:
      - CLUBS_URL=http://clubs:8000/graphql
      - EVENTS_URL=http://events:8001/graphql

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    command: npm run dev 
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NEXT_PUBLIC_GATEWAY_URL=http://localhost:4000/graphql

    db-seed:
      image: python:3.10-slim
      volumes:
        - .:/app              
      working_dir: /app
      depends_on:
        - db                   
      environment:
        - MONGO_URL=mongodb://db:27017/iiit_clubs
      command: >
        sh -c "pip install pymongo requests && 
              python import_scripts.py && 
              python importevents.py"

      
volumes:
  mongo_data:

